
/* inicio body */

body {
    background-color: #efefef;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* fin body */

/* inicio header  */

header{
    display: flex;
    align-items: center;
    background-color: #212121;
    color: white;
    padding: 2px;
}


header img {
    position: relative;
    padding: 1rem;
    height: 3rem;
    left: 0rem;
}


header h3 {
    margin-top: 35px;
}


header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    display: flex;
}


header ul div {
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}


header ul a{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.1;
    color: white;
    text-decoration: none;
}

.botton-header:hover {
    border: white solid 1px;
    border-radius: 13%;
    box-shadow: 0 0.3rem 1rem rgba(0,0,0,5);
}

/* fin header */

/* inicio .backgroundinicio */

.backgroundinicio{
    background-image: url(../img/background/EHUDBMiR8p1knX0LxjhC6cNxb3M5hkVFBuJHcu51pDUc5n7Mh-JgqGUf8hOMuhPPSP3ueZJGNSwhkGKfJoPLfSo=w16383.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed ;
    height: 19rem;
    display: flex;
    justify-content: center;
    color: white;
}


.backgroundinicio h1{
    margin-left: 24.5rem;
    margin-right: 24.5rem;
    font-size: 3rem;
}

.comunity1{
    margin-left: 7rem;
}

/* fin .backgroundinicio */

/* inicio Noticas Valorant  */

.noticiasvalorantdiv1 {
    background-color: white;
}

.iframe-youtube-div-1 {
    display: flex;
    justify-content: center;
}

.div-iframe-youtube{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    height: 16rem;
}

.iframe-youtube {
    height: 15rem;
    width: 25rem;
}

/* fin Noticias Valorant */

/* inicio presentacion  */

.backgroundpresentacion {
    background: white;
    display: flex;
    justify-content: center;
}

.areapresentacion {
    margin:0.5rem;
    padding: 0.5rem;
    border: #212121 1px solid;
}

.areapresentacion iframe {
    height: 30rem;
    width: 70rem;
}

/* fin presentacion */

/* inicio Bienvenido a Word Of The Gamers */

.bienvenidoawordofthegamers {
    background-color: white;
    height: 8rem;
}

.bienvenidoawordofthegamers h1{
    margin: auto;
}

.bienvenidoawordofthegamers ul {
    display: flex;
    justify-content: center;
}


.bienvenidoawordofthegamers ul div {
    padding: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: aqua;
    border: #212121 solid 2px;
}

.bienvenidoawordofthegamers ul div:hover {
    box-shadow: 0 0rem 1rem rgba(0,0,0,5);
}


/* fin Bienvenido a Word Of The Gamers */

/* inicio footer */

footer {
    display: flex;
    background-color: #212121;
    color: white;
    padding: 2px;
}


footer span{
    padding-left: 0.2rem;
    padding-top: 2.8rem ;
}

footer section {
    margin-left:30rem;
}

.LogSocialNetAnimation:hover {
    border-radius: 50%;
    box-shadow: 0 0.3rem 1rem rgba(0,0,0,5);
}

/* fin footer */