/* inicio body */

body {
    background-color: #efefef;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* fin body */

/* inicio header  */

header{
    display: flex;
    align-items: center;
    background-color: #212121;
    color: white;
    padding: 2px;
}


header img {
    position: relative;
    padding: 1rem;
    height: 3rem;
    left: 0rem;
}


header h3 {
    margin-top: 35px;
}


header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    display: flex;
}


header ul div {
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}


header ul a{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.1;
    color: white;
    text-decoration: none;
}

.botton-header:hover {
    border: white solid 1px;
    border-radius: 13%;
    box-shadow: 0 0.3rem 1rem rgba(0,0,0,5);
}

/* fin header */

/* inicio .opacity */

.opacity {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

/* fin .opacity */

/* inicio .backgroundinicio */

.backgroundinicio{
    background-image: url(../img/background/EHUDBMiR8p1knX0LxjhC6cNxb3M5hkVFBuJHcu51pDUc5n7Mh-JgqGUf8hOMuhPPSP3ueZJGNSwhkGKfJoPLfSo=w16383.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed ;
    height: 19rem;
    display: flex;
    justify-content: center;
    color: white;
}


.backgroundinicio h1{
    margin-left: 24.5rem;
    margin-right: 24.5rem;
    font-size: 3rem;
}

.comunity1{
    margin-left: 7rem;
}

/* fin .backgroundinicio */

/* inicio .Cuadro-Juegos1 */

.Cuadro-Juegos1 {
    background-image: url(../img/background/oVJjbsKn0Ft3r0uHi-riz199A5xlAvkjxTkYQppnO7cRXVNLyzxYp3tuyViVluYCOCago8edHDhJkiCJsdfsPH0=w16383.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y: -13rem;
    display: flex;
    color: white;
}

.Cuadro-Juegos1 img{
    margin: 2rem;
    padding-left: 3rem;
    height: 15rem;
}

.Cuadro-Juegos1 div {
    margin: 2rem;
    
} 

.Cuadro-Juegos1 h2 {
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

.Cuadro-Juegos1-div-2{
    padding-top: 1rem;
}

.vermas {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 11rem;
    padding-right: 11rem;
    border: 1px solid rgb(4, 132, 252);
    background-color: white;
    color: rgb(4, 132, 252);
    justify-content: center;
}

.botton-Cuadro-Juegos1:hover {
    border: rgb(4, 132, 252) solid 1px;
    box-shadow: 0 0.3rem 1rem rgba(0,0,0,5);
}

/* fin .Cuadro-Juegos1 */

/* inicio .Cuadro-Juegos2 */

.Cuadro-Juegos2 {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../img/background/1EMuY6pKkzUHzglcISEIzluAPUJM7UsmBqp9QDAIfshajl1xCBXhX10ETdJYSlnvHvkgEA_HtQlWwsOHPPM9gQ=w16383.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y: -13rem;
    display: flex;
    color: white;
}

.Cuadro-Juegos2 img{
    margin: 2rem;
    padding-left: 3rem;
    height: 15rem;
}

.Cuadro-Juegos2 div {
    margin: 2rem;
    
} 

.Cuadro-Juegos2 h2 {
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

.Cuadro-Juegos2-div-2{
    padding-top: 1rem;
}

.Cuadro-Juegos2-div-2 p {
    font-size: 100%;
    color: white;
}

/* fin .Cuadro-Juegos2 */

/* inicio .izqandder */

.izqandder {
    background-image: url(../img/background/RgNAQsnfDFdLt3kuxxtcD6AHmJNlE4zkFCPgn44ueK6qORzhUPZWFcSFSLJrijluu-rbpOnGqQN6AUIgbV9pfCE=w16383.jpeg);
    background-position-y: -2.1rem;
    background-position-x: -2rem;
    background-repeat: no-repeat;
    display: flex;
    color: white;
    justify-content: center;
}

.izqandder div {
    margin: 1rem;
}

.izq1 img {
    margin: 10px;
    height: 19rem;
}

.der1 img{
    margin: 10px;
    height: 19rem;
}

/* fin .izqandder */

/* inicio footer */

footer {
    display: flex;
    background-color: #212121;
    color: white;
    padding: 2px;
}


footer span{
    padding-left: 0.2rem;
    padding-top: 2.8rem ;
}

footer section {
    margin-left:30rem;
}

.LogSocialNetAnimation:hover {
    border-radius: 50%;
    box-shadow: 0 0.3rem 1rem rgba(0,0,0,5);
}

/* fin footer */